.button-basic, .tocheckout button, .button, * .tack-container .dark-green .thank-receipt p {
  width: 150px;
  height: 50px;
  background: #2b2b2b;
  box-shadow: 0px 4px 20px #2b2b2b;
  border-radius: 15px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.item-title, .box-title {
  width: 200px;
  height: 50px;
  background: #bb9c6f;
  box-shadow: 0px 4px 80px rgba(187, 156, 111, 0.5);
  border-radius: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 45px;
  color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.item-desc, .box-desc {
  width: 80%;
  height: 100px;
  padding: 10px;
  background: #bb9c6f80;
  box-shadow: 0px 4px 80px rgba(187, 156, 111, 0.5);
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

html {
  height: 100%; }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: "PT Mono", monospace;
  background-color: #80917a;
  margin: 0px;
  padding: 0px;
  font-size: 15pt;
  scroll-behavior: smooth; }

.cart-container {
  height: 100vh;
  width: 100vw; }

.greenbackground {
  background-color: #677662;
  height: 100%;
  width: 150px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  z-index: -1;
  font-family: "PT Mono", monospace;
  margin: 0; }

.cart-header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

.cart-title {
  width: 100%;
  height: 30%; }
  .cart-title .items {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px 70px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset; }
    .cart-title .items section {
      background-color: #bb9d6f80;
      width: 80%;
      min-width: 270px;
      max-width: 400px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .cart-title .items section .text {
        display: flex;
        flex-direction: column; }

.cart-pic {
  height: 100px;
  border-radius: 10%;
  margin-right: 30px; }

.tocheckout {
  width: 100%;
  height: 80%;
  background: white;
  margin: 50px 0px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.checkout-title {
  display: flex;
  justify-content: center;
  color: white; }

form {
  width: 75%; }

.bs-container {
  background: white;
  width: 100%;
  height: 500px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#request {
  resize: none; }

footer {
  color: white;
  margin-left: 30px; }

body {
  scroll-behavior: smooth; }

* {
  box-sizing: border-box; }
  * .tack-container {
    background-color: #80917a;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    * .tack-container .dark-green {
      background-color: #677662;
      width: 100vw;
      height: 80vh;
      border-radius: 0px 150px 150px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      * .tack-container .dark-green .thank-order {
        width: 70%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center; }
        * .tack-container .dark-green .thank-order .order {
          color: #eec68a; }
      * .tack-container .dark-green .light-container {
        background-color: #fefefe;
        height: 80%;
        width: 100%;
        box-shadow: inset 0px 4px 40px rgba(128, 145, 122, 0.75);
        border-radius: 150px 150px 150px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px; }
        * .tack-container .dark-green .light-container .thank-wrapper {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 56px; }
          * .tack-container .dark-green .light-container .thank-wrapper h1 {
            color: #2b2b2b; }
          * .tack-container .dark-green .light-container .thank-wrapper p {
            color: #eec68a; }
      * .tack-container .dark-green .thank-receipt {
        width: 70%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center; }
        * .tack-container .dark-green .thank-receipt p {
          width: 60%;
          max-width: 200px; }
  * .btn-dark {
    border-color: #000;
    background-color: #000; }
  * .nav-wrapper .navbar-brand {
    color: #000;
    font-size: 14px; }
  * .nav-wrapper .navbar-brand {
    color: #000;
    font-size: 14px; }
  * .nav-wrapper .brand-img {
    width: 50px;
    height: 40px;
    margin-right: 0px; }
  * .d-flex {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    margin-bottom: 40px; }
    * .d-flex .cart-btn a {
      color: #fff; }
    * .d-flex .dropdown {
      background: rgba(255, 255, 255, 0.8);
      padding-right: 10px;
      list-style-type: none;
      text-align: center;
      visibility: hidden;
      display: none; }
      * .d-flex .dropdown li {
        padding: 10px; }
      * .d-flex .dropdown a {
        padding: 1px;
        display: block;
        color: #000;
        text-decoration: none; }
    * .d-flex .hamburger-btn {
      background-color: #000;
      border-radius: 4px;
      width: 42px;
      height: 38px; }
      * .d-flex .hamburger-btn .hamburger {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: flex-end;
        cursor: pointer;
        padding: 7px; }
        * .d-flex .hamburger-btn .hamburger .bar1,
        * .d-flex .hamburger-btn .hamburger .bar2,
        * .d-flex .hamburger-btn .hamburger .bar3 {
          width: 30px;
          height: 4px;
          background-color: #fff;
          margin: 2px 0;
          border-radius: 10px;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
    * .d-flex #toggle {
      display: none; }
    * .d-flex #toggle:checked + .hamburger .bar1 {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: 10px; }
    * .d-flex #toggle:checked + .hamburger .bar2 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: -6px; }
    * .d-flex #toggle:checked + .hamburger .bar3 {
      -webkit-transform: scale(0);
      transform: scale(0); }
    * .d-flex #toggle:checked ~ .dropdown {
      visibility: visible;
      display: block;
      position: absolute;
      width: 100%;
      left: 0px; }
  * .hero-wrapper {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    box-shadow: inset 0px 4px 40px rgba(128, 145, 122, 0.75);
    border-radius: 75px; }
    * .hero-wrapper .hero-title {
      height: 200px;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      * .hero-wrapper .hero-title p {
        color: #eec68a; }
  * .carousel-inner {
    border-radius: 15px; }
