@charset "UTF-8";
.button-basic, .pictures .img-button, .b-wrapper .imgs .img1 .img-button, .l-wrapper .imgs .img1 .img-button, .d-wrapper .imgs .img1 .img-button, .b-wrapper .imgs .img2 .img-button, .l-wrapper .imgs .img2 .img-button, .d-wrapper .imgs .img2 .img-button, .b-wrapper .imgs .img3 .img-button, .l-wrapper .imgs .img3 .img-button, .d-wrapper .imgs .img3 .img-button, .b-wrapper .imgs .img4 .img-button, .l-wrapper .imgs .img4 .img-button, .d-wrapper .imgs .img4 .img-button, .b-wrapper .imgs .img5 .img-button, .l-wrapper .imgs .img5 .img-button, .d-wrapper .imgs .img5 .img-button, .b-wrapper .imgs .img6 .img-button, .l-wrapper .imgs .img6 .img-button, .d-wrapper .imgs .img6 .img-button, .b-wrapper .imgs .img7 .img-button, .l-wrapper .imgs .img7 .img-button, .d-wrapper .imgs .img7 .img-button, .b-wrapper .imgs .img8 .img-button, .l-wrapper .imgs .img8 .img-button, .d-wrapper .imgs .img8 .img-button, .b-wrapper .imgs .img9 .img-button, .l-wrapper .imgs .img9 .img-button, .d-wrapper .imgs .img9 .img-button, .btn-payment, .btn-confirm, .button, .row .hero-check, .tack-container .dark-green .thank-receipt p, .btn-modal {
  width: 150px;
  height: 50px;
  background: #2b2b2b;
  box-shadow: 0px 4px 20px #2b2b2b;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.item-title, .box-title, .b-wrapper .main-title,
.l-wrapper .main-title,
.d-wrapper .main-title {
  width: 200px;
  min-width: 100px;
  height: 50px;
  background: #bb9c6f;
  box-shadow: 0px 4px 80px rgba(187, 156, 111, 0.5);
  border-radius: 15px;
  font-size: 18px;
  line-height: 25px;
  color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.item-desc, .box-desc, .b-wrapper .food-desc,
.l-wrapper .food-desc,
.d-wrapper .food-desc {
  width: 80%;
  height: 100px;
  padding: 10px;
  background: #bb9c6f80;
  box-shadow: 0px 4px 80px rgba(187, 156, 111, 0.5);
  border-radius: 30px;
  font-size: 16px;
  line-height: 25px;
  color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.pictures, .b-wrapper .imgs .img1,
.l-wrapper .imgs .img1,
.d-wrapper .imgs .img1, .b-wrapper .imgs .img2,
.l-wrapper .imgs .img2,
.d-wrapper .imgs .img2, .b-wrapper .imgs .img3,
.l-wrapper .imgs .img3,
.d-wrapper .imgs .img3, .b-wrapper .imgs .img4,
.l-wrapper .imgs .img4,
.d-wrapper .imgs .img4, .b-wrapper .imgs .img5,
.l-wrapper .imgs .img5,
.d-wrapper .imgs .img5, .b-wrapper .imgs .img6,
.l-wrapper .imgs .img6,
.d-wrapper .imgs .img6, .b-wrapper .imgs .img7,
.l-wrapper .imgs .img7,
.d-wrapper .imgs .img7, .b-wrapper .imgs .img8,
.l-wrapper .imgs .img8,
.d-wrapper .imgs .img8, .b-wrapper .imgs .img9,
.l-wrapper .imgs .img9,
.d-wrapper .imgs .img9 {
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: relative; }
  .pictures .img-button, .b-wrapper .imgs .img1 .img-button, .l-wrapper .imgs .img1 .img-button, .d-wrapper .imgs .img1 .img-button, .b-wrapper .imgs .img2 .img-button, .l-wrapper .imgs .img2 .img-button, .d-wrapper .imgs .img2 .img-button, .b-wrapper .imgs .img3 .img-button, .l-wrapper .imgs .img3 .img-button, .d-wrapper .imgs .img3 .img-button, .b-wrapper .imgs .img4 .img-button, .l-wrapper .imgs .img4 .img-button, .d-wrapper .imgs .img4 .img-button, .b-wrapper .imgs .img5 .img-button, .l-wrapper .imgs .img5 .img-button, .d-wrapper .imgs .img5 .img-button, .b-wrapper .imgs .img6 .img-button, .l-wrapper .imgs .img6 .img-button, .d-wrapper .imgs .img6 .img-button, .b-wrapper .imgs .img7 .img-button, .l-wrapper .imgs .img7 .img-button, .d-wrapper .imgs .img7 .img-button, .b-wrapper .imgs .img8 .img-button, .l-wrapper .imgs .img8 .img-button, .d-wrapper .imgs .img8 .img-button, .b-wrapper .imgs .img9 .img-button, .l-wrapper .imgs .img9 .img-button, .d-wrapper .imgs .img9 .img-button {
    border: none;
    width: 80px;
    height: 50px;
    position: absolute;
    top: 220px;
    left: 190px; }
    .pictures .img-button a, .b-wrapper .imgs .img1 .img-button a, .l-wrapper .imgs .img1 .img-button a, .d-wrapper .imgs .img1 .img-button a, .b-wrapper .imgs .img2 .img-button a, .l-wrapper .imgs .img2 .img-button a, .d-wrapper .imgs .img2 .img-button a, .b-wrapper .imgs .img3 .img-button a, .l-wrapper .imgs .img3 .img-button a, .d-wrapper .imgs .img3 .img-button a, .b-wrapper .imgs .img4 .img-button a, .l-wrapper .imgs .img4 .img-button a, .d-wrapper .imgs .img4 .img-button a, .b-wrapper .imgs .img5 .img-button a, .l-wrapper .imgs .img5 .img-button a, .d-wrapper .imgs .img5 .img-button a, .b-wrapper .imgs .img6 .img-button a, .l-wrapper .imgs .img6 .img-button a, .d-wrapper .imgs .img6 .img-button a, .b-wrapper .imgs .img7 .img-button a, .l-wrapper .imgs .img7 .img-button a, .d-wrapper .imgs .img7 .img-button a, .b-wrapper .imgs .img8 .img-button a, .l-wrapper .imgs .img8 .img-button a, .d-wrapper .imgs .img8 .img-button a, .b-wrapper .imgs .img9 .img-button a, .l-wrapper .imgs .img9 .img-button a, .d-wrapper .imgs .img9 .img-button a {
      text-decoration: none;
      color: #fefefe; }

html {
  height: 100%; }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: "PT Mono", monospace;
  background-color: #80917a;
  margin: 0px;
  padding: 0px;
  font-size: 15pt;
  scroll-behavior: smooth; }

.greenbackground {
  background-color: #677662;
  height: 100%;
  width: 150px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  z-index: -1;
  margin: 0; }
  @media (min-width: 768px) {
    .greenbackground {
      background-color: #677662;
      width: 100vw;
      height: 80vh;
      border-radius: 0px 150px 150px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.cart-container {
  height: 100vh;
  width: 100vw; }
  .cart-container .cart-header {
    color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cart-container .cart-title {
    width: 100%;
    height: 40%; }
    .cart-container .cart-title .items {
      background: #fefefe;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      padding: 50px 70px;
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset; }
      @media (min-width: 992px) {
        .cart-container .cart-title .items {
          flex-direction: row; } }
    .cart-container .cart-title section {
      background-color: #bb9c6f80;
      width: 80%;
      min-width: 270px;
      max-width: 400px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px; }
      .cart-container .cart-title section .text {
        display: flex;
        flex-direction: column; }
        @media (min-width: 992px) {
          .cart-container .cart-title section .text {
            justify-content: center;
            align-self: center; } }

.cart-pic {
  height: 100px;
  border-radius: 10%;
  margin-right: 10px; }
  @media (min-width: 992px) {
    .cart-pic {
      height: 200px;
      margin-right: 3px; } }

.tocheckout {
  width: 100%;
  height: 80%;
  background: #fefefe;
  margin: 50px 0px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.btn-payment a {
  color: #fefefe;
  text-decoration: none; }

.checkout-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  flex-direction: column; }
  @media (min-width: 768px) {
    .checkout-wrapper {
      align-items: center; } }

.checkout-title {
  display: flex;
  justify-content: center;
  color: #fefefe;
  margin-top: 10px;
  font-size: 30px; }

.bs-container {
  background: #fefefe;
  width: 100%;
  height: 500px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .bs-container {
      width: 50%;
      align-items: center; }
      .bs-container form {
        width: 60%; }
        .bs-container form .form-check {
          display: flex;
          justify-content: flex-end; } }

#request {
  resize: none; }

.btn-confirm a {
  color: #fefefe;
  text-decoration: none; }

.hero-wrapper {
  position: relative;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  box-shadow: inset 0px 4px 40px rgba(128, 145, 122, 0.75);
  border-radius: 75px; }
  .hero-wrapper .hero-title {
    height: 200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .hero-wrapper .hero-title p {
      color: #bb9c6f; }
  .hero-wrapper .row {
    position: relative; }

.carousel-inner {
  border-radius: 15px;
  display: flex; }

.row .hero-check {
  position: relative;
  bottom: 20px;
  left: 25vw; }

.tack-container {
  background-color: #80917a;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .tack-container .dark-green {
    background-color: #677662;
    width: 100vw;
    height: 80vh;
    border-radius: 0px 150px 150px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 768px) {
      .tack-container .dark-green {
        align-items: center;
        border-radius: 150px 150px 150px 0px;
        width: 80%; } }
    @media (min-width: 992px) {
      .tack-container .dark-green {
        align-items: center;
        border-radius: 150px 150px 150px 0px;
        width: 70%; } }
    .tack-container .dark-green .thank-order {
      width: 70%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      margin-left: 10px; }
      .tack-container .dark-green .thank-order .order {
        color: #bb9c6f; }
    .tack-container .dark-green .light-container {
      background-color: #fefefe;
      height: 80%;
      width: 100%;
      box-shadow: inset 0px 4px 40px rgba(128, 145, 122, 0.75);
      border-radius: 150px 150px 150px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px; }
      @media (min-width: 768px) {
        .tack-container .dark-green .light-container {
          width: 70%; } }
      @media (min-width: 992px) {
        .tack-container .dark-green .light-container {
          width: 70%; } }
      .tack-container .dark-green .light-container .thank-wrapper {
        font-family: "PT Mono", monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        line-height: 37px; }
        .tack-container .dark-green .light-container .thank-wrapper h1 {
          color: #2b2b2b; }
        .tack-container .dark-green .light-container .thank-wrapper p {
          color: #bb9c6f; }
        @media (min-width: 768px) {
          .tack-container .dark-green .light-container .thank-wrapper {
            font-size: 1rem;
            line-height: 40px; } }
        @media (min-width: 992px) {
          .tack-container .dark-green .light-container .thank-wrapper {
            font-size: 1.5rem;
            line-height: 50px; } }
    .tack-container .dark-green .thank-receipt {
      width: 70%;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .tack-container .dark-green .thank-receipt p {
        width: 60%;
        max-width: 200px; }

.btn-dark {
  border-color: #000;
  background-color: #000; }

.nav-wrapper .navbar-brand {
  color: #000;
  font-size: 14px;
  flex-grow: 1; }

.nav-wrapper .brand-img {
  width: 50px;
  height: 40px;
  margin-right: 0px; }

.d-flex {
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
  margin-bottom: 40px;
  position: relative; }
  .d-flex .cart-btn a,
  .d-flex .cart-btn-desktop a {
    color: #fff; }
  .d-flex .cart-btn-desktop {
    display: none;
    visibility: hidden; }
  .d-flex .navbar-desktop {
    display: none;
    visibility: hidden;
    list-style-type: none; }
    .d-flex .navbar-desktop a {
      display: block;
      text-decoration: none;
      color: #2b2b2b; }
    .d-flex .navbar-desktop a:hover {
      text-decoration: underline; }
    .d-flex .navbar-desktop .dropdown-desktop {
      position: relative; }
      .d-flex .navbar-desktop .dropdown-desktop .desktop-items {
        width: 200px;
        position: absolute;
        display: none;
        background: rgba(255, 255, 255, 0.8);
        text-align: center; }
      .d-flex .navbar-desktop .dropdown-desktop .desktop-menu {
        border: none;
        outline: none;
        background-color: inherit; }
      .d-flex .navbar-desktop .dropdown-desktop .desktop-menu:hover {
        text-decoration: underline; }
    .d-flex .navbar-desktop .dropdown-desktop:hover .desktop-items {
      display: block; }
  .d-flex .dropdown {
    background: rgba(255, 255, 255, 0.8);
    padding-right: 10px;
    list-style-type: none;
    text-align: center;
    visibility: hidden;
    display: none;
    z-index: 5; }
    .d-flex .dropdown li {
      padding: 10px; }
    .d-flex .dropdown a {
      padding: 1px;
      display: block;
      color: #000;
      text-decoration: none; }
  .d-flex .hamburger-btn {
    background-color: #000;
    border-radius: 4px;
    width: 42px;
    height: 38px;
    margin-right: 20px; }
    .d-flex .hamburger-btn .hamburger {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;
      align-items: flex-end;
      cursor: pointer;
      padding: 7px; }
      .d-flex .hamburger-btn .hamburger .bar1,
      .d-flex .hamburger-btn .hamburger .bar2,
      .d-flex .hamburger-btn .hamburger .bar3 {
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin: 2px 0;
        border-radius: 10px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  .d-flex #toggle {
    display: none; }
  .d-flex #toggle:checked + .hamburger .bar1 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 10px; }
  .d-flex #toggle:checked + .hamburger .bar2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -6px; }
  .d-flex #toggle:checked + .hamburger .bar3 {
    -webkit-transform: scale(0);
    transform: scale(0); }
  .d-flex #toggle:checked ~ .dropdown {
    visibility: visible;
    display: block;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px; }
  @media (min-width: 992px) {
    .d-flex .navbar-brand {
      flex-grow: 0; }
    .d-flex .hamburger-btn,
    .d-flex .cart-btn {
      display: none;
      visibility: hidden; }
    .d-flex .cart-btn-desktop {
      display: block;
      visibility: visible;
      margin-right: 40px; }
    .d-flex .navbar-desktop {
      width: 70%;
      visibility: visible;
      display: flex;
      justify-content: space-evenly; } }

@media (min-width: 992px) {
  .d-flex {
    justify-content: flex-start;
    z-index: 5; }
  ul {
    margin-bottom: 0;
    padding-left: 0; } }

.filter-box {
  position: fixed;
  display: inline-block;
  left: 10px;
  top: 140px;
  z-index: 5; }
  .filter-box .filter-btn {
    text-decoration: underline;
    cursor: pointer; }
  .filter-box .filter-content {
    position: absolute;
    list-style-type: none;
    display: none;
    visibility: hidden;
    left: 15px; }
    .filter-box .filter-content a {
      text-decoration: none;
      color: #2b2b2b; }

#filter-toggle {
  display: none; }

#filter-toggle:checked ~ .filter-content {
  display: block;
  visibility: visible; }

.carousel-inner {
  border-radius: 15px; }

.modal-title {
  color: #2b2b2b; }

.modal-body {
  color: #bb9c6f; }

#b-start,
#l-start,
#d-start {
  display: flex;
  justify-content: center;
  color: #fefefe;
  font-size: 24px; }

.b-wrapper,
.l-wrapper,
.d-wrapper {
  background-color: #fefefe;
  box-shadow: inset 0px 4px 40px rgba(128, 145, 122, 0.75);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .b-wrapper .main-title,
  .l-wrapper .main-title,
  .d-wrapper .main-title {
    align-self: flex-start;
    margin-left: 50px; }
  .b-wrapper .imgs,
  .l-wrapper .imgs,
  .d-wrapper .imgs {
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center; }
    .b-wrapper .imgs .img1,
    .l-wrapper .imgs .img1,
    .d-wrapper .imgs .img1 {
      background-image: url(../components/Acaiskål.jpg); }
    .b-wrapper .imgs .img2,
    .l-wrapper .imgs .img2,
    .d-wrapper .imgs .img2 {
      background-image: url(../components/Gröt.jpg); }
    .b-wrapper .imgs .img3,
    .l-wrapper .imgs .img3,
    .d-wrapper .imgs .img3 {
      background-image: url(../components/Mackor.jpg); }
    .b-wrapper .imgs .img4,
    .l-wrapper .imgs .img4,
    .d-wrapper .imgs .img4 {
      background-image: url(../components/Rispappersrullar.jpg); }
    .b-wrapper .imgs .img5,
    .l-wrapper .imgs .img5,
    .d-wrapper .imgs .img5 {
      background-image: url(../components/Falafel.jpg); }
    .b-wrapper .imgs .img6,
    .l-wrapper .imgs .img6,
    .d-wrapper .imgs .img6 {
      background-image: url(../components/Sötpotatissallad.jpg); }
    .b-wrapper .imgs .img7,
    .l-wrapper .imgs .img7,
    .d-wrapper .imgs .img7 {
      background-image: url(../components/Sushi.jpg); }
    .b-wrapper .imgs .img8,
    .l-wrapper .imgs .img8,
    .d-wrapper .imgs .img8 {
      background-image: url(../components/Pumpasoppa.jpg); }
    .b-wrapper .imgs .img9,
    .l-wrapper .imgs .img9,
    .d-wrapper .imgs .img9 {
      background-image: url(../components/Glasnudlar.jpg); }

footer {
  height: 20%;
  color: #fefefe;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 18px; }
