@import "variables";

//mixins

//media query for tablet
@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}
//media query for desktop
@mixin desktop {
	@media (min-width: 992px) {
		@content;
	}
}

// how to use it

// selector {                              (aka det ni vill ska ändras)
//   @include mixin-name;      (include tablet, eller include desktop)
// }

//-------------------------------------------------------------------------------------------

//extends

//buttons

//för att skapa svarta knappen
.button-basic {
	width: 160px; //kan behöva ändras
	height: 80px; //kan behöva ändras

	background: $black;
	box-shadow: 0px 4px 20px #2b2b2b;
	border-radius: 30px;
	text-align: center;
	cursor: pointer;
}

.item-title {
	width: 260px; //kan behöva ändras
	height: 100px; //kan behöva ändras

	background: $dark-brown;
	box-shadow: 0px 4px 80px rgba(187, 156, 111, 0.5);
	border-radius: 15px;
}

.item-desc {
	width: 450px; //kan behöva ändras
	height: 120px; //kan behöva ändras

	background: rgba(187, 156, 111, 0.5);
	box-shadow: 0px 4px 80px rgba(187, 156, 111, 0.5);
	border-radius: 30px;
}

// how to use it

// selector {                              (aka det ni vill ska ändras)
//   @extend extend-name;      (extend .button-basic)
//   här skriver ni scss som overwrite .button-basic
// }
//-------------------------------------------------------------------------------------------
