//color palette

//examples: sections, titles, text in buttons.
$white: #fefefe;

//exapmles: form-background.
$gray: #d7d7d7;

//exapmles: buttons, cart, hamburger-background
$black: #2b2b2b;

//exapmles: background color/body
$light-green: #80917a;

//exapmles: darker part of background color
$dark-green: #677662;

//exapmles: every text area. then make it 50% opacity for the lighter ones
$dark-brown: #bb9c6f;

//exapmles: text i thank you sidan
$yellow: #eec68a;
